* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: hsl(234, 12%, 34%);
}

#header {
  text-align: center;
}

img {
  margin-top: 2rem;
  float: right;
}

p {
  color: hsl(229, 6%, 66%);
}

body {
  background-color: hsl(0, 0%, 98%);
}

h2 {
  font-weight: 600;
}

h1 {
  font-weight: 200;
}

#container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 100%;
}

.card {
  background-color: #ffffff;
  padding: 1.75rem;
  border-radius: 0.4rem;
  box-shadow: 0px 5px 15px rgba(97, 155, 221, 0.2);
}

#supervisor {
  border-top: 0.25rem solid hsl(180, 62%, 55%);
}

#team-builder {
  border-top: 0.25rem solid hsl(0, 78%, 62%);
}

#karma {
  border-top: 0.25rem solid hsl(34, 97%, 64%);
}

#calculator {
  border-top: 0.25rem solid hsl(212, 86%, 64%);
}

footer {
  text-align: center;
}

@media screen and (max-width: 400px) {
  body {
    width: calc(100vw - 4rem);
    padding: 2rem;
  }

  .br {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 3.75rem;
  }

  h2 {
    margin-top: 0.1rem;
    font-size: 1.5rem;
  }

  header > p {
    margin-top: 1rem;
  }

  #supervisor {
    margin-top: 4.5rem;
  }

  img {
    height: 4rem;
  }

  .card > p {
    font-size: 0.85rem;
    margin-top: 0.25rem;
  }

  .card > h2 {
    font-size: 1.25rem;
  }

  .card {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  body {
    width: 100vw;
    padding-top: 5rem;
  }

  #container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr repeat(3, 22.75rem) 1fr;
    grid-template-rows: repeat(6, 6.1255rem) auto;
  }

  #header {
    grid-row: 1 / 3;
    grid-column: 1 / 6;
  }

  #header > h1 {
    font-size: 2.5rem;
  }

  #header > h2 {
    font-size: 2.5rem;
  }

  #team-builder {
    grid-row: 3 / 5;
    grid-column: 3 / 4;
  }

  #supervisor {
    grid-row: 4 / 6;
    grid-column: 2 / 3;
  }

  #calculator {
    grid-row: 4 / 6;
    grid-column: 4 / 5;
  }

  #karma {
    grid-row: 5 / 7;
    grid-column: 3 / 4;
  }

  footer {
    grid-row: 7;
    grid-column: 1 / 6;
  }
}
